body {
  font-family: 'Lato';
  background-color: #ffffe6;
}

div.radio {
  margin-left: 10px;
}

label {
  font-size: 16px;
  font-family: arial;
  margin: 5px;
}

span.quest {
  font-size: 18px;
  font-weight: bold;
}

span.quote {
  margin-left: 15px;
  font-size: 17px;
  font-family: arial;
}

.btn.btn-dark {
  text-align: center;
  padding: 5px;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.checkbox {
  text-indent: 2px;
}

.priv {
  font-size: 8px;
  padding: 2px;
}

.privTitle {
  font-size: 12px;
  font-style: italic;
}

#cardFormat {
  margin-bottom: 40px;
  width: 75%;
}

#headerContainer {
  text-align: center;
  padding: 30px 20px;
  font-family: 'Abril Fatface';
}

#headerContainer h1 {
  font-size: 3em;
}

#ruby, #css, #sharp, #userData, #hidden1 {
  display: none;
  width: 45%;
  margin: auto;
}

#userData {
  background-color: white;
}
