button {
  text-align: center;
}

body {
  font-family: 'Lato';
}

h6 {
  font-size: 8px;
  padding: 5px;
}

label {
  font-size: 18px;
  padding: 1px;
}

.checkbox {
  text-indent: 2px;
}

.privTitle {
  font-size: 12px;
  font-style: italic;
}

#cardFormat {
  margin-bottom: 40px;
  width: 75%;
}

#headerContainer {
  text-align: center;
  padding: 30px 20px;
  font-family: 'Abril Fatface';
}

#headerContainer h1 {
  font-size: 3em;
}

#ruby, #css, #sharp, #userData {
  display: none;
  width: 45%;
  margin: auto;
}

#userData {
  background-color: white;
}
